/* Default link color */
a[href^='http'],
a[hre^='https'] {
  color: #2185d0 !important;
}

.flip-container {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

::-webkit-scrollbar {
  display: none;
}

.flip-container {
  height: 100vh;
}

.flip-container.flip-it .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper {
  -webkit-transition: 0.8s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.8s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.8s;
  -o-transform-style: preserve-3d;
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container .front,
.flip-container .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.flip-container .front {
  z-index: 2;
  transform: rotateY(0deg);
}

.flip-container .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.ui.secondary.menu {
  margin-left: 0;
  margin-right: 0;
}

.ui.grid {
  margin-left: 0;
  margin-right: 0;
}

.ui.cards .card .image {
  height: 100%;
}

.ui.cards .card .image .ui.dimmer.light-mode {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.ui.cards .card .image .ui.dimmer .content,
.ui.cards .card .image .ui.dimmer .center {
  height: 100%;
}

.ui.cards .card .image .ui.dimmer .display-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ui.cards .card .image .ui.dimmer .display-content.light-mode {
  color: black;
}

.ui.cards .card .image img {
  height: 100%;
}

.about {
  height: calc(100vh - 50px - 28px);
  overflow-y: scroll;
}

.post-list {
  overflow-y: scroll;
}

a.ui.label {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .dream-header-tags.dream-tags,
  .dream-categories {
    display: none;
  }

  #tag-category-pop {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  #tag-category-pop {
    display: none;
  }
}

@media screen and (max-width: 1450px) {
  .ui.two.cards > .card {
    width: calc(100% - 2em);
  }
}
