.dream-button {
  transition: 0.8s ease !important; }
  .dream-button:hover {
    border-radius: 25px !important; }

.dream-404-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex !important;
  height: calc(100% - 43.5667px); }
  .dream-404-container .dream-404-image {
    padding-bottom: 10rem; }

.ui.menu.dream-menu {
  margin: 0; }

::-webkit-scrollbar {
  display: none; }

.flip-container {
  height: 100vh;
  perspective: 1000px; }
  .flip-container.flip-it .flipper {
    transform: rotateY(180deg); }
  .flip-container .flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.8s ease; }
  .flip-container .front,
  .flip-container .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; }
  .flip-container .front {
    transform: rotateY(0deg); }
  .flip-container .back {
    transform: rotateY(180deg); }

.ui.grid {
  margin-left: 0;
  margin-right: 0; }

.ui.cards .card .image {
  height: 100%; }

.ui.cards .card .image .ui.dimmer.light-mode {
  background-color: rgba(255, 255, 255, 0.3) !important; }

.ui.cards .card .image .ui.dimmer .content,
.ui.cards .card .image .ui.dimmer .center {
  height: 100%; }

.ui.cards .card .image .ui.dimmer .display-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.ui.cards .card .image .ui.dimmer .display-content.light-mode {
  color: black; }

.ui.cards .card .image img {
  height: 100%; }

.about {
  height: calc(100vh - 50px - 28px);
  overflow-y: scroll; }

.post-list {
  overflow-y: scroll; }

a.ui.label {
  margin-top: 5px;
  margin-bottom: 5px; }

@media screen and (max-width: 768px) {
  .dream-header-tags.dream-tags,
  .dream-categories {
    display: none; }
  #tag-category-pop {
    display: block; } }

@media screen and (min-width: 769px) {
  #tag-category-pop {
    display: none; } }

@media screen and (max-width: 1450px) {
  .ui.two.cards > .card {
    width: calc(100% - 2em); } }
