{{ define "title" }}{{ .Title }}{{ end }}

{{ define "css" }}

{{ if .Site.Params.customSyntaxHighlighting }}
<link rel="stylesheet" data-custom-syntax-highlighting />
<style>
  .chroma {
    padding: 1em;
    background-color: var(--dream-pre-bg, #f5f5f5);
    border-radius: .5em;
    overflow: auto;
  }

  html.dark .chroma {
    background-color: var(--dream-pre-bg-dark, #262626);
  }
</style>
{{ end }}

{{ if .Site.Params.valine }}
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
{{ end }}

{{ end }}

{{ define "main" }}
<div class="flex justify-center mt-4 px-4">
  <div class="prose dark:prose-invert" id="dream-save-post-as-img">
    <section>
      <header>
        <h1>{{ .Title }}</h1>
        <p class="text-sm">
          {{ if .Site.Params.Experimental.jsDate }}
            <span data-format="luxon">{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}</span>
          {{ else }}
            {{ if eq .Site.Language.Lang "zh" }}
              {{ index .Site.Data.zh.Weekday (printf "%d" .Date.Weekday) }}，{{ index .Site.Data.zh.Month (printf "%d" .Date.Month) }} {{ .Date.Day }} 日，{{ .Date.Year }} 年
            {{ else if eq .Site.Language.Lang "es" }}
              {{ index .Site.Data.es.Weekday (printf "%d" .Date.Weekday) }}, {{ .Date.Day }} de {{ index .Site.Data.es.Month (printf "%d" .Date.Month) }} de {{ .Date.Year }}
            {{ else if eq .Site.Language.Lang "pt" }}
              {{ index .Site.Data.pt.Weekday (printf "%d" .Date.Weekday) }}, {{ .Date.Day }} de {{ index .Site.Data.pt.Month (printf "%d" .Date.Month) }} de {{ .Date.Year }}
            {{ else if eq .Site.Language.Lang "fr" }}
              {{ index .Site.Data.fr.Weekday (printf "%d" .Date.Weekday) }} {{ .Date.Day }} {{ index .Site.Data.fr.Month (printf "%d" .Date.Month) }} {{ .Date.Year }}
            {{ else }}
              {{ .Date.Format "Monday, Jan 2, 2006" }}
            {{ end }}
          {{ end }}

          | <span>{{ .ReadingTime }}{{ i18n "minuteRead" .ReadingTime }}</span>

          {{ if ne .Params.nolastmod true }}
          | <span>{{ i18n "updateAt" }}
            {{ if .Site.Params.Experimental.jsDate }}
              <span data-format="luxon">{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}</span>
            {{ else }}
              {{ if eq .Site.Language.Lang "zh" }}
                {{ index .Site.Data.zh.Weekday (printf "%d" .Lastmod.Weekday) }}，{{ index .Site.Data.zh.Month (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Day }} 日，{{ .Lastmod.Year }} 年
              {{ else if eq .Site.Language.Lang "es" }}
                {{ index .Site.Data.es.Weekday (printf "%d" .Lastmod.Weekday) }}, {{ .Lastmod.Day }} de {{ index .Site.Data.es.Month (printf "%d" .Lastmod.Month) }} de {{ .Lastmod.Year }}
              {{ else if eq .Site.Language.Lang "pt" }}
                {{ index .Site.Data.pt.Weekday (printf "%d" .Lastmod.Weekday) }}, {{ .Lastmod.Day }} de {{ index .Site.Data.pt.Month (printf "%d" .Lastmod.Month) }} de {{ .Lastmod.Year }}
              {{ else if eq .Site.Language.Lang "fr" }}
                {{ index .Site.Data.fr.Weekday (printf "%d" .Date.Weekday) }} {{ .Date.Day }} {{ index .Site.Data.fr.Month (printf "%d" .Date.Month) }} {{ .Date.Year }}
              {{ else }}
                {{ .Lastmod.Format "Monday, Jan 2, 2006" }}
              {{ end }}
            {{ end }}</span>
          {{ end }}
        </p>
        <div class="flex justify-between">
          {{ partial "author.html" . }}

          {{ partial "share.html" . }}
        </div>
      </header>

      <main>
        {{ if and .Params.Cover .Site.Params.showSummaryCoverInPost }}
        <img src="{{ .Params.Cover }}" />
        {{ end }}

        {{ .Content | emojify }}
      </main>
    </section>

    {{ $disqusShortname := (or .Site.Config.Services.Disqus.Shortname .Site.DisqusShortname) }}

    {{ if or $disqusShortname .Site.Params.utterancesRepo .Site.Params.valine }}
    <hr />
    {{ end }}

    <section class="space-y-4">
      {{ if $disqusShortname }}
      <article data-html2canvas-ignore>
        {{ template "_internal/disqus.html" . }}
      </article>
      {{ end }}

      {{ if .Site.Params.utterancesRepo }}
      <article data-html2canvas-ignore>
        <script
          src="https://utteranc.es/client.js"
          repo="{{ .Site.Params.utterancesRepo }}"
          issue-term="og:title"
          theme="github-light"
          crossorigin="anonymous"
          async>
        </script>
      </article>
      {{ end }}

      {{ if .Site.Params.valine }}
      <article data-html2canvas-ignore>
        <div id="vcomments"></div>
      </article>
      <script>
        new Valine({
          el: '#vcomments',
          appId: '{{ .Site.Params.LEANCLOUD_APP_ID }}',
          appKey: '{{ .Site.Params.LEANCLOUD_APP_KEY }}',
          lang: '{{ .Site.Params.VALINE_LANGUAGE }}'
        })
      </script>
      {{ end }}
    </section>
  </div>
</div>
{{ end }}

{{ define "js" }}

{{ if .Site.Params.Experimental.jsDate }}
{{ partial "luxon.html" . }}
{{ end }}

{{ if .Site.Params.customSyntaxHighlighting }}
<script>
  document.addEventListener('alpine:initialized', () => {
    var isDark = Alpine.store('darkMode').isDark()
    var customSyntaxHighlightingUrl = isDark ? window.customSyntaxHighlighting.dark : window.customSyntaxHighlighting.light

    document
      .querySelector('link[data-custom-syntax-highlighting]')
      .setAttribute('href', customSyntaxHighlightingUrl)
  })
</script>
{{ end }}

<!-- <script src="{{ "/js/scrollToTop.js" | relURL }}"></script> -->

<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js" integrity="sha256-uacRffSSMP9qpvNWhVmYLykBv9YKMA1d/VSIN1AmfyQ=" crossorigin="anonymous"></script>
<script src="{{ "/js/post.js" | relURL }}" defer></script>
{{ end }}
