<article class="card dream-card">
  {{ if isset .Params "cover" }}
  <div class="card-image">
    <figure class="image">
      {{ if isset .Params "cover" }}
      <img src="{{ .Params.cover }}" alt="{{ .Title }}" />
      {{ else }}
      <img src="{{ "/img/" | relURL }}default{{ index (shuffle (seq 1 4)) 0 }}.jpg" alt="{{ .Title }}" />
      {{ end }}
    </figure>
  </div>
  {{ end }}

  {{ if isset .Params "cover" }}
  <div class="card-content">
  {{ else }}
  <div class="card-content no-cover">
  {{ end }}
    <h2 class="title is-4">
      {{ .Title }}
    </h2>

    <div class="content">
      {{ .Summary | emojify | safeHTML }}
    </div>

    <div class="media">
      <div class="media-left">
        {{- if isset .Params "avatar" -}}
        <figure class="image is-32x32">
          <img src="{{ .Params.avatar }}" alt="avatar" />
        </figure>
        {{- else -}}
        <span class="icon is-medium">
          <i class="fa-solid fa-circle-user fa-lg"></i>
        </span>
        {{- end -}}
      </div>
      <div class="media-content">
        <div class="subtitle is-6 mb-1">
        {{- if isset .Params "author" -}}
          {{- if isset .Params "authorlink" -}}
          <a href="{{ .Params.authorlink }}" target="_blank">{{ .Params.author }}</a>
          {{- else -}}
          {{- .Params.author -}}
          {{- end -}}
        {{- else -}}
          {{- .Site.Params.author -}}
        {{- end -}}
        </div>

        <div class="subtitle is-7">
          {{ partial "date.html" . }} · {{ .ReadingTime }}{{ i18n "minuteRead" .ReadingTime }}
        </div>
      </div>
    </div>
  </div>
</article>
