{{ define "title" }}
{{ $title := (strings.FirstUpper .Data.Plural) }}
{{ $translation := T (print "all" $title) }}
{{ default $title $translation -}}
{{ end }}

{{ define "main"}}

{{ if site.Params.zenMode }}
<div class="max-w-[65ch] mt-4 mx-auto">
{{ else }}
<div class="flex flex-col md:flex-row mt-4">
{{ end }}
  <div class="md:basis-[200px] lg:basis-[300px] p-4 prose dark:prose-invert">
    <h1 class="text-2xl">
      {{- $title := T (print "all" (strings.FirstUpper .Data.Plural)) }}
      {{- default (strings.FirstUpper .Data.Plural) $title -}}
    </h1>
    <p class="text-sm">
      {{- if eq (len .Data.Terms) 1 }}
      {{- default (print "1 " .Data.Singular) (T .Data.Singular 1) }}
      {{- else }}
      {{- default (print (len .Data.Terms) " " .Data.Plural) (T .Data.Singular (len .Data.Terms)) }}
      {{- end -}}
    </p>
    <div class="flex flex-wrap gap-4 mt-6">
      {{ range .Data.Terms.Alphabetical }}
      <a href="{{ .Page.RelPermalink }}" class="badge h-6 no-underline hover:badge-primary">
        {{ .Page.LinkTitle }}
      </a>
      {{ end }}
    </div>
  </div>
  {{ if site.Params.zenMode }}
  <div class="divider divider-vertical"></div>
  {{ else }}
  <div class="divider divider-vertical md:divider-horizontal px-4 md:px-0"></div>
  {{ end }}
  <div class="flex-1">
    {{ $paginator := .Paginate (where site.RegularPages (print ".Params." .Data.Plural) "ne" nil) }}

    {{ if site.Params.zenMode }}
    <div class="dream-zen-posts px-4 space-y-8">
      {{ range $paginator.Pages }}
        {{ .Render "zen-summary" }}
      {{ end }}
    </div>
    {{ else }}
    <div class="dream-grid">
    {{ range $paginator.Pages }}
      <div class="w-full md:w-1/2 lg:w-1/3 p-4 dream-column">
        {{ .Render "summary" }}
      </div>
    {{ end }}
    </div>
    {{ end }}

    {{ if gt $paginator.TotalPages 1 }}
    <div class="flex justify-center pt-8">
      {{ partial "paginator.html" (dict "paginator" $paginator) }}
    </div>
    {{ end }}
  </div>
</div>

{{ end }}

{{ define "js" }}

{{ if site.Params.Experimental.jsDate }}
{{ partial "luxon.html" . }}
{{ end }}

{{ end }}
