{{ define "title" }}
{{- T "allTags" -}}
{{ end }}

{{ define "main"}}
<div class="ui centered relaxed grid dream-grid">
  <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
    {{ partial "header.html" . }}
  </div>
  <div class="sixteen wide mobile sixteen wide tablet twelve wide computer column">
    <div class="ui segment dream-tags-section">
      <h1 class="ui large header">
        {{ i18n "allTags" }}
        <div class="ui grey sub header">
          {{ if eq (len .Data.Terms) 1 }}
            {{ i18n "tag" 1 }}
          {{ else }}
            {{ i18n "tag" (len .Data.Terms) }}
          {{ end }}
        </div>
      </h1>

      {{ $data := .Data }}
      {{ range .Data.Terms.Alphabetical }}
        {{ $termLink := printf "/%s/%s/" $data.Plural .Term | urlize }}
        <h2 class="ui medium header">
          <a href="{{ $termLink }}">{{ .Term }}</a>
          {{ i18n "article" .Count }}
        </h2>
        <ul>
          {{ range .Pages }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
