{{ define "title" }}
{{- .Title -}}
{{ end }}

{{ define "main"}}

{{ partial "header.html" . }}

<article class="box dream-posts">
  <div class="block">
    <h2 class="title is-5 mb-0">
      {{ .Title }}
    </h2>
    <div class="subheader">{{ .Content }}</div>
  </div>

  {{ range .Data.Pages.GroupByDate "2006" }}
  <h3 class="title is-6">{{ .Key }}</h3>
  <div class="content">
    <ul>
      {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</article>
{{ end }}
