<!-- {{ partial "header.html" . }} -->

<div class="dream-grid">
  {{ $headless := .Site.GetPage "/about" }}
  {{ $aboutPages := $headless.Resources.ByType "page" }}
  {{ range $aboutPages }}
  <div class="w-1/4 p-4 dream-column">
    <article class="card card-compact bg-base-100 shadow-lg markdown-body">
      <div class="card-body">
        <div class="card-title">{{ .Title }}</div>

        {{ .Content | emojify }}
      </div>
    </article>
  </div>
  {{ end }}

  {{ if not .Site.Params.hideBackSocialLinks }}
  <div class="w-1/4 p-4 dream-column">
    <article class="card card-compact bg-base-100 shadow-lg">
      <div class="card-body">
        <div class="card-title">{{ i18n "socialLinks" }}</div>

        {{ partialCached "socials.html" (dict "Site" .Site "IconSize" "large") }}
      </div>
    </article>
  </div>
  {{ end }}

  {{ if .Site.Copyright }}
  <div class="w-1/4 p-4 dream-column">
    <article class="card card-compact bg-base-100 shadow-lg">
      <div class="card-body">
        {{ .Site.Copyright | safeHTML }}
      </div>
    </article>
  </div>
  {{ end }}

  {{ if and .Site.DisqusShortname .IsHome }}
  <div class="w-1/2 p-4 dream-column">
    <article class="card card-compact bg-base-100 shadow-lg">
      <div class="card-body">
        {{ partial "disqus.html" (dict "Context" . "Identifier" "/") }}
      </div>
    </article>
  </div>
  {{ end }}
</div>
