{{ $collapseBySummary := site.Params.collapseBySummary }}
<details class="content">
  <summary class="title is-6 mb-0">
    <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
    {{ T "article" .Count -}}
  </summary>

  {{- if $collapseBySummary -}}

  <ul>
    {{ range .Pages.GroupBy "Title" }}
    <details class="mb-2">
      <summary>{{ .Key }}</summary>
      <ul>
        {{ range .Pages }}
        <li>
          <a href="{{ .RelPermalink }}" title="{{ .Summary }}">{{ .Summary | safeHTML | truncate 30 }}...</a>
        </li>
        {{ end }}
      </ul>
    </details>
    {{ end }}
  </ul>

  {{- else -}}

  <ul>
    {{ range .Pages }}
    <li>
      <a href="{{ .Page.RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>

  {{- end -}}
</details>
