<script>
  {{- with .Site.Params.background }}
  window.background = {{ . }}
  {{- end }}

  {{- with .Site.Params.defaultDark }}
  window.defaultDark = {{ . }}
  {{- end }}

  {{- with .Site.Params.backgroundDark }}
  window.backgroundDark = {{ . }}
  {{- end }}

  {{- with .Site.Params.backgroundImageDark }}
  window.backgroundImageDark = {{ . }}
  {{- end }}

  {{- with .Site.Params.darkNav }}
  window.darkNav = {{ . }}
  {{- end }}

  {{- with .Site.Params.maxTags }}
  window.maxTags = {{ . }}
  {{- end }}

  {{- with .Site.Params.hasTwitterEmbed }}
  window.hasTwitterEmbed = {{ . }}
  {{- end }}

  {{- with .Site.Params.fixedNav }}
  window.fixedNav = {{ . }}
  {{- end }}

  {{- with .Site.Params.transparentNav }}
  window.transparentNav = {{ . }}
  {{- end }}

  {{- with .Site.Params.highlightjsTheme }}
  window.highlightjsTheme = {{ . }}
  {{- end }}

  {{- with .Site.Params.highlightjsThemeDark }}
  window.highlightjsThemeDark = {{ . }}
  {{- end }}

  if (window.hasTwitterEmbed) {
    // https://developer.twitter.com/en/docs/twitter-for-websites/javascript-api/guides/set-up-twitter-for-websites
    window.twttr = (function (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {}
      if (d.getElementById(id)) return t
      js = d.createElement(s)
      js.id = id
      js.src = 'https://platform.twitter.com/widgets.js'
      fjs.parentNode.insertBefore(js, fjs)

      t._e = []
      t.ready = function (f) {
        t._e.push(f)
      }

      return t
    })(document, 'script', 'twitter-wjs')
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@1.13.1/js/jquery.overlayScrollbars.min.js" integrity="sha256-tBd38uWlvgfps3zHPrUb2ePBg+Z8EjMf0QloFONzpvU=" crossorigin="anonymous"></script>

{{ range (slice "js/main.js" "js/theme.js") }}
{{ $js := resources.Get . | js.Build (substr . 3) }}
<script src="{{ $js.RelPermalink }}"></script>
{{ end }}
