<header class="hero dream-header">
  <div class="hero-body">
    <div class="media">
      {{ if isset .Site.Params "avatar" }}
      <div class="media-left">
        <figure class="image is-128x128 mr-4">
          <img class="is-rounded" src="{{ .Site.Params.avatar | relURL }}" alt="avatar" />
        </figure>
      </div>
      {{ end }}

      <div class="media-content">
        <h1 class="title is-4">
          {{- if .Site.Params.headerTitle -}}
          {{ .Site.Params.headerTitle }}
          {{- else -}}
          {{ "Set `headerTitle` in the `config.toml` to display the title" | markdownify }}
          {{- end -}}
        </h1>
        {{- if .Site.Params.motto -}}
        <div class="subtitle is-6 mb-4">
          {{- .Site.Params.motto | safeHTML -}}
        </div>
        {{- end -}}

        <section class="mb-4">
          {{ if gt (len (where .Site.RegularPages "Section" "==" "posts")) 0 }}
          <a href="{{ "posts" | relLangURL }}" title="{{ T "archives" }}">
            <span class="icon">
              <i class="fa-solid fa-box-archive"></i>
            </span>
          </a>
          {{ end }}
          <a href="{{ "categories" | relLangURL }}" title="{{ T "allCategories" }}">
            <span class="icon">
              <i class="fa-solid fa-bars-staggered"></i>
            </span>
          </a>
          <a href="{{ "tags" | relLangURL }}" title="{{ T "allTags" }}">
            <span class="icon">
              <i class="fa-solid fa-tags"></i>
            </span>
          </a>
        </section>

        {{ if .Site.Taxonomies.tags }}
        <section class="tags">
          {{ range .Site.Taxonomies.tags }}
          <a class="tag" href="{{ .Page.RelPermalink }}" title="{{ .Page.Title }}">
            {{- .Page.Title -}}
          </a>
          {{ end }}
        </section>
        {{ end }}
      </div>
    </div>
  </div>
</header>
