<script src="{{ if site.Params.highlightjsCDN }}{{ site.Params.highlightjsCDN }}{{ else }}{{ "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/highlight.min.js" }}{{ end }}"></script>

{{ if site.Params.highlightjsExtraLanguages }}
{{ range site.Params.highlightjsExtraLanguages }}
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/languages/{{ . }}.min.js"></script>
{{ end }}
{{ end }}

<!-- <script>
  hljs.highlightAll()
  setHighlightTheme()

  function setHighlightTheme() {
    document.addEventListener('alpine:initialized', () => {
      var isDark = window.Alpine.store('darkMode').isDark()

      var lightTheme = '{{ site.Params.highlightjsTheme }}'
      var darkTheme = '{{ site.Params.highlightjsThemeDark }}'
      var theme = isDark ? darkTheme : lightTheme

      document
        .querySelector('link[data-highlight]')
        .setAttribute('href', 'https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/' + theme + '.min.css')
    })
  }
</script> -->
