<script
  src="https://cdn.jsdelivr.net/npm/luxon@3.7.2/build/global/luxon.min.js"
  integrity="sha256-UWxf6lyCvfH7XEcrmq/cqc2m3IBrLBLOnWLC4Pw0gQQ="
  crossorigin="anonymous"
></script>
<script>
  format()

  function format() {
    document.querySelectorAll('span[data-format="luxon"]').forEach((el) => {
      const date = el.textContent

      el.textContent = luxon.DateTime.fromISO(date, { locale: '{{ site.Language.Lang }}' }).toFormat(
        '{{ site.Params.Experimental.jsDateFormat | default "yyyy-MM-dd" }}',
      )
    })
  }
</script>
