{{ with site.GetPage "/about" }}
{{ $aboutPages := .Resources.ByType "page" }}
{{ if gt (len $aboutPages) 0 }}
<li>
  <div role="link" tabindex="0" class="inline-flex items-center p-2 cursor-pointer" @click="flip = !flip" title="{{ T "about" }}">
    <ion-icon name="information-circle"></ion-icon>
    {{- T "about" -}}
  </div>
</li>
{{ end }}
{{ end }}

{{ $navItems := slice "search" "rss" "posts" "categories" "tags" }}
{{ if site.Params.reorderNavItems }}
{{ $navItems = site.Params.reorderNavItems }}
{{ end }}
{{ range $navItems }}
{{ partial "renderMobileNavItem.html" . }}
{{ end }}

{{ with site.Params.navItems }}
{{ partial "navCustomItems.html" (dict "navItems" $navItems "mobile" true) }}
{{ end }}
