{{ with site.GetPage "/about" }}
{{ $aboutPages := .Resources.ByType "page" }}
{{ if gt (len $aboutPages) 0 }}
<li>
  <div role="link" tabindex="0" class="inline-flex items-center p-2 cursor-pointer" @click="flip = !flip" title="{{ T "about" }}">
    <ion-icon name="information-circle"></ion-icon>
    {{- T "about" -}}
  </div>
</li>
{{ end }}
{{ end }}

{{ if gt (len (where site.Pages "Type" "search")) 0 }}
<li>
  <a class="group inline-flex items-center p-2 cursor-pointer" href="{{ "search" | relLangURL }}" title="{{ T "search" }}">
    <ion-icon name="search"></ion-icon>
    {{ T "search" }}
  </a>
</li>
{{ end }}

{{ if gt (len (where site.RegularPages "Type" "posts")) 0 }}
<li>
  <a class="inline-flex items-center p-2 cursor-pointer" href="{{ "posts" | relLangURL }}" title="{{ T "archives" }}">
    <ion-icon name="archive"></ion-icon>
    {{ T "archives" }}
  </a>
</li>
{{ end }}

{{ if site.Taxonomies.categories }}
<li>
  <a class="inline-flex items-center p-2 cursor-pointer" href="{{ "categories" | relLangURL }}" title="{{ T "allCategories" }}">
    <ion-icon name="grid"></ion-icon>
    {{ T "allCategories" }}
  </a>
</li>
{{ end }}

{{ if site.Taxonomies.tags }}
<li>
  <a class="inline-flex items-center p-2 cursor-pointer" href="{{ "tags" | relLangURL }}" title="{{ T "allTags" }}">
    <ion-icon name="pricetags"></ion-icon>
    {{ T "allTags" }}
  </a>
</li>
{{ end }}

{{ if site.Params.rss }}
<li>
  <a class="inline-flex items-center p-2 cursor-pointer" href="{{ "index.xml" | relLangURL }}" title="RSS">
    <ion-icon name="logo-rss"></ion-icon>
    RSS
  </a>
</li>
{{ end }}
