{{ if .paginator.HasPrev }}
<article class="card dream-card">
  <div class="card-content">
    <a href="{{ .paginator.Prev.URL }}" title="{{ i18n "prevPage" }}">
      <div class="title is-5 has-text-centered">
        {{ i18n "prevPage" }}
      </div>
    </a>
  </div>
</article>
{{ end }}

{{ if .paginator.HasNext }}
<article class="card dream-card">
  <div class="card-content">
    <a href="{{ .paginator.Next.URL }}" title="{{ i18n "nextPage" }}">
      <div class="title is-5 has-text-centered">
        {{ i18n "nextPage" }}
      </div>
    </a>
  </div>
</article>
{{ end }}
