<script>
  window.lightTheme = {{ site.Params.lightTheme }}
  window.darkTheme = {{ site.Params.darkTheme }}

  {{ if site.Params.customSyntaxHighlighting }}
  {{- $syntaxLightCSS := resources.Get "css/syntax-light.css" | minify -}}
  {{- $syntaxDarkCSS := resources.Get "css/syntax-dark.css" | minify -}}

  window.customSyntaxHighlighting = {
    light: {{ $syntaxLightCSS.RelPermalink}},
    dark: {{ $syntaxDarkCSS.RelPermalink }}
  }
  {{- end }}

  window.defaultDark = {{ site.Params.defaultDark }}
  window.backgroundImageDark = {{ site.Params.backgroundImageDark }}
  window.darkNav = {{ site.Params.darkNav }}
  window.maxTags = {{ site.Params.maxTags }}
  window.hasTwitterEmbed = {{ site.Params.hasTwitterEmbed }}
  window.fixedNav = {{ site.Params.fixedNav }}

  if (window.hasTwitterEmbed) {
    // https://developer.twitter.com/en/docs/twitter-for-websites/javascript-api/guides/set-up-twitter-for-websites
    window.twttr = (function (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {}
      if (d.getElementById(id)) return t
      js = d.createElement(s)
      js.id = id
      js.src = 'https://platform.twitter.com/widgets.js'
      fjs.parentNode.insertBefore(js, fjs)

      t._e = []
      t.ready = function (f) {
        t._e.push(f)
      }

      return t
    })(document, 'script', 'twitter-wjs')
  }
</script>
<script src="{{ "/js/main.js" | relURL }}"></script>
<!-- <script src="{{ "/js/theme.js" | relURL }}"></script> -->
