<div class="ui segment">
  <button
    class="ui circular icon button save-as-image"
    title="{{ i18n "saveAsImage" }}"
    onclick="savePostAsImg()">
    <i class="save icon"></i>
  </button>
  <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}"target="_blank" class="ui circular twitter icon button" title="Twitter">
    <i class="twitter icon"></i>
  </a>
  <a href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}"target="_blank" class="ui circular facebook icon button" title="Facebook">
    <i class="facebook icon"></i>
  </a>
  <span class="whatsapp">
    <a href="https://wa.me/?text={{ .Title }}%0A{{ .Permalink }}"target="_blank" class="ui circular whatsapp icon button" title="WhatsApp">
    <i class="whatsapp icon"></i>
   </a>
 </span>
</div>
