<ul class="menu menu-horizontal flex-wrap w-full [&_ion-icon]:text-lg">
  {{ if .Site.Params.rss }}
  <li>
    <a href="{{ "index.xml" | relLangURL }}" title="RSS">
      <ion-icon name="logo-rss"></ion-icon>
    </a>
  </li>
  {{ end }}

  {{ if .Site.Params.email }}
  <li>
    <a href="mailto:{{ .Site.Params.email }}" title="Email">
      <ion-icon name="mail"></ion-icon>
    </a>
  </li>
  {{ end }}

  {{ if .Site.Params.twitter }}
  <li>
    <a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank" title="Twitter">
      <ion-icon name="logo-twitter"></ion-icon>
    </a>
  </li>
  {{ end }}

  {{ if .Site.Params.facebook }}
  <li>
    <a href="https://facebook.com/{{ .Site.Params.facebook }}" target="_blank" title="Facebook">
      <ion-icon name="logo-facebook"></ion-icon>
    </a>
  </li>
  {{ end }}

  {{ if .Site.Params.instagram }}
  <li>
    <a href="https://instagram.com/{{ .Site.Params.instagram }}" target="_blank" title="Instagram">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
  </li>
  {{ end }}

  {{ if .Site.Params.mastodon }}
  <li>
    <a href="{{ .Site.Params.mastodon }}" target="_blank" title="Mastodon">
      <ion-icon name="logo-mastodon"></ion-icon>
    </a>
  </li>
  {{ end }}

  {{ if .Site.Params.linkedin }}
  <li>
    <a href="https://linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank" title="Linkedin">
      <ion-icon name="logo-linkedin"></ion-icon>
    </a>
  </li>
  {{ end }}

  {{ if .Site.Params.github }}
  <li>
    <a href="https://github.com/{{ .Site.Params.github }}" target="_blank" title="GitHub">
      <ion-icon name="logo-github"></ion-icon>
    </a>
  </li>
  {{ end }}

  {{ if .Site.Params.stackoverflow }}
  <li>
    <a href="https://stackoverflow.com/users/{{ .Site.Params.stackoverflow }}" target="_blank" title="stack overflow">
      <ion-icon name="logo-stackoverflow"></ion-icon>
    </a>
  </li>
  {{ end }}

  {{ if .Site.Params.codepen }}
  <li>
    <a href="https://codepen.io/{{ .Site.Params.codepen }}" target="_blank" title="Codepen">
      <ion-icon name="logo-codepen"></ion-icon>
    </a>
  </li>
  {{ end }}

  {{ if (fileExists "data/socials.toml") }}
  {{ range .Site.Data.socials.socials }}
  <li>
    <a href="{{ .href }}" target="{{ .target }}" title="{{ .title }}">
      <ion-icon name="{{ .icon }}"></ion-icon>
    </a>
  </li>
  {{ end }}
  {{ end }}
</ul>
