{{ define "title" }}404 Not Found{{ end }}

{{ define "main" }}
<div class="hero is-halfheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="block">
        <h1 class="title is-4 mb-0">
          Oops...You are lost in dream.
        </h1>
        <div class="subheader is-6">Don't worry though, click the button below to wake up.</div>
      </div>

      {{ if .Site.Params.dark404 }}
      <button class="button is-dark" onclick="window.location.href = '{{ .Site.BaseURL }}'">{{ i18n "backToHome" }}</button>
      {{ else }}
      <button class="button is-light" onclick="window.location.href = '{{ .Site.BaseURL }}'">{{ i18n "backToHome" }}</button>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
