{{ define "main"}}
<div class="ui relaxed grid dream-grid">
  <div class="sixteen wide mobile eight wide tablet eight wide computer four wide large screen four wide widescreen column dream-column">
    {{ partial "header.html" . }}
  </div>

  <!-- For backward compatible, it's needed to filter out the about pages to prevent them from being rendered -->
  {{ $paginator := .Paginate (where .Site.RegularPages "Section" "!=" "about") }}
  {{ range $paginator.Pages }}
    <div class="sixteen wide mobile eight wide tablet eight wide computer four wide large screen four wide widescreen column dream-column">
      {{ .Render "summary" }}
    </div>
  {{ end }}

  <div class="sixteen wide mobile eight wide tablet eight wide computer four wide large screen four wide widescreen column dream-column">
    {{ partial "paginator.html" (dict "paginator" $paginator "Site" .Site) }}
  </div>
</div>
{{ end }}

{{ define "js" }}
<script src="{{ "/js/imagesloaded.pkgd.min.js" | relURL }}"></script>
<script src="{{ "/js/masonry.pkgd.min.js" | relURL }}"></script>
<script src="{{ "/js/grid.js" | relURL }}"></script>
{{ end }}
