{{ define "main"}}

{{ partial "header.html" . }}

<div class="ui relaxed grid dream-grid">
  {{ $paginator := .Paginate (where .Site.RegularPages "Section" "!=" "about") }}
  {{ range $paginator.Pages }}
  <div class="sixteen wide mobile eight wide tablet eight wide computer four wide large screen four wide widescreen column dream-column">
    {{ .Render "summary" }}
  </div>
  {{ end }}

  <div class="sixteen wide mobile eight wide tablet eight wide computer four wide large screen four wide widescreen column dream-column">
    {{ partial "paginator.html" (dict "paginator" $paginator "Site" .Site) }}
  </div>
</div>
{{ end }}

{{ define "js" }}

{{ if .Site.Params.Experimental.jsDate }}
{{ partial "luxon.html" . }}
{{ end }}

<script src="{{ .Site.Params.CDN.imagesloaded }}" crossorigin="anonymous"></script>
<script src="{{ .Site.Params.CDN.masonry }}" crossorigin="anonymous"></script>
<script src="{{ "/js/grid.js" | relURL }}"></script>
{{ end }}
