@tailwind base;
@tailwind components;
@tailwind utilities;

#dream-global-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.flip-container {
  width: 100vw;
  height: 100vh;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;

  &.flip-it {
    .flipper {
      transform: rotateY(180deg);
    }
  }

  .flipper {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 0.75s ease;
  }

  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .front {
    transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(180deg);
  }
}

#TableOfContents {
  @apply sticky top-24;
}

#TableOfContents ul {
  @apply menu menu-sm;
}
